/**
* @css.min floating labels
*/
.has-float-label {
  display: block;
  position: relative;
}

.has-float-label label,
.has-float-label>span {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 75%;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: -.5em;
  left: 0.75rem;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
}

.has-float-label label::after,
.has-float-label>span::after {
  content: " ";
  display: block;
  position: absolute;
  background: white;
  height: 2px;
  top: 50%;
  left: -.2em;
  right: -.2em;
  z-index: -1;
}

.has-float-label .form-control::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.has-float-label .form-control::-moz-placeholder {
  opacity: 1;
  transition: all .2s;
}

.has-float-label .form-control:-ms-input-placeholder {
  opacity: 1;
  transition: all .2s;
}

.has-float-label .form-control::placeholder {
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
  opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
  opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
  font-size: 150%;
  opacity: .5;
  top: .3em;
}

.input-group .has-float-label {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.input-group .has-float-label .form-control {
  width: 100%;
  border-radius: 0.25rem;
}

.input-group .has-float-label:not(:last-child),
.input-group .has-float-label:not(:last-child) .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}

.input-group .has-float-label:not(:first-child),
.input-group .has-float-label:not(:first-child) .form-control {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/** 
* @css floating labels custom
*
*/
$verde: green;

.form-group {
  position: relative;

  &.form-group-custom {
    margin: 0 0 1.5rem 0;

    @media(max-width: 640px) {
      margin: .5rem 0;
    }
  }

  .ffl-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;

    .ffl-label {
      @include sf(1rem, 400, $gris);
      position: absolute;
      z-index: 5;
      top: 0;
      left: .625rem;
      cursor: text;
      -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
      transition: color .2s ease-out, -webkit-transform .2s ease-out;
      transition: transform .2s ease-out, color .2s ease-out;
      transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
      -webkit-transform: translateY(1rem);
      transform: translateY(1rem);
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
    }

    &.ffl-floated {
      .ffl-label {
        transform: translateY(.1rem) scale(.8);
        @include sf(1rem, 400, $verde);
        line-height: normal;
      }
    }

    /*
    * @css inputs
    **/

    .ffl-input,
    .ffl-textarea,
    .ffl-select {
      @include sf(1rem, normal, $gris);
      position: relative;
      background-color: #F2F2F2;
      display: inline-block;
      width: 100%;
      line-height: normal;
      height: 60px;
      margin: 0;
      padding: 1rem .75rem 0 .75rem;
      border: none;
      border-bottom: 1px solid $gris;
      border-radius: 0;
      outline: none;
      transition: border-bottom 100ms ease;
      box-shadow: none;
      appearance: none;
      z-index: 5;
    }

    .ffl-select {
      /* background-image: url(../images/down-arrow.svg);
        background-position: 98% center;
        background-size: 12px;
        background-repeat: no-repeat;*/
    }

    .input-addon {
      position: absolute;
      right: 0.625rem;
      z-index: 300;
      top: 1rem;
      color: #908f8f;
    }


    .select-icon {
      position: absolute;
      right: calc(.375em + .1875rem);
      top: calc(.375em + .1875rem);
    }

    .form-control.is-valid,
    .was-validated .form-control:valid,
    .ffl-input.is-valid,
    .was-validated .ffl-input:valid {
      border-color: #28a745 !important;
      padding-right: calc(1.5em + .75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(.375em + .1875rem) center;
      background-size: calc(.75em + .375rem) calc(.75em + .375rem);

      &~.ffl-label {
        color: #28a745;
      }
    }

    .form-control.is-invalid,
    .was-validated .form-control:invalid,
    .ffl-input.is-invalid,
    .was-validated .ffl-input:invalid {
      border-color: #dc3545 !important;
      padding-right: calc(1.5em + .75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(.375em + .1875rem) center;
      background-size: calc(.75em + .375rem) calc(.75em + .375rem);

      &~.ffl-label {
        color: #dc3545;
      }
    }

    .invalid-feedback {
      @include sf(.75rem, 400, #dc3545);
      margin: 0;
      width: 80%;
      padding: 1px 5px;
      text-align: left;
    }

    .ffl-input:hover,
    input:hover,
    textarea:hover,
    select:hover {
      border-bottom-width: 1px;
      border-bottom-color: $verde;
    }

    .ffl-input:focus,
    input:focus,
    textarea:focus,
    select:focus {
      border-bottom-width: 1px;
      border-bottom-color: $verde;
    }

    .ffl-input:visited,
    input:visited,
    textarea:visited,
    select:visited {
      border-bottom-width: 1px;
      border-bottom-color: $verde;
    }

    .ffl-textarea {
      resize: none;
      min-height: 1.875rem;
    }

    label>span {
      color: #cccccc;
    }

    .prefix {
      top: 2rem;
      font-size: 1.75rem;
      right: 0;
      color: #757575;

      &:hover {
        color: $gris;
        @include transicion;
      }

      &:focus {
        color: $gris;
      }

      &:visited {
        color: $gris;
      }
    }

    .prefix {
      position: absolute;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
      z-index: 6;
    }

    .cuestion {
      color: #757575;

      &:hover {
        color: $gris;
        @include transicion;
      }
    }
  }
}

.custom-control {

  &.custom-radio,
  &.custom-checkbox {
    .custom-control-label {
      @include sf(1rem, normal, #333);
      /* .custom-control-input:checked~.custom-control-label::before {
          
          
            border-color: #6324BD;
            background-color: #6324BD;
          
        
      } */
    }
  }
}

.custom-control {
  &.custom-radio {
    .custom-control-input {
      &:checked {
        ~.custom-control-label {
          &::before {
            border-color: $verde;
            background-color: $verde;
          }
        }
      }

      &:focus {
        ~.custom-control-label {
          &::before {
            box-shadow: 0 0 0 .2rem rgba(16, 110, 234, .1);
          }
        }
      }
    }
  }
}

.custom-control {
  &.custom-checkbox {
    .custom-control-input {
      &:checked {
        ~.custom-control-label {
          &::before {
            border-color: $verde;
            background-color: $verde;
            border-radius: 0;
          }
        }
      }

      &:focus {
        ~.custom-control-label {
          &::before {
            box-shadow: 0 0 0 .2rem rgba(16, 110, 234, .1);
          }
        }
      }
    }

    .custom-control-label {
      &::before {
        border-radius: 0;
      }
    }
  }
}

.checkbox {
  label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 15px;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    &::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555;
    }
  }
}

.checkbox input[type="checkbox"] {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 12px;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type="checkbox"]:focus+label::before,
.checkbox input[type="radio"]:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after,
.checkbox input[type="radio"]:checked+label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label,
.checkbox input[type="radio"]:disabled+label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before,
.checkbox input[type="radio"]:disabled+label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked+label::before,
.checkbox-primary input[type="radio"]:checked+label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked+label::after,
.checkbox-primary input[type="radio"]:checked+label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before,
.checkbox-danger input[type="radio"]:checked+label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked+label::after,
.checkbox-danger input[type="radio"]:checked+label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked+label::before,
.checkbox-info input[type="radio"]:checked+label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked+label::after,
.checkbox-info input[type="radio"]:checked+label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before,
.checkbox-warning input[type="radio"]:checked+label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked+label::after,
.checkbox-warning input[type="radio"]:checked+label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked+label::before,
.checkbox-success input[type="radio"]:checked+label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked+label::after,
.checkbox-success input[type="radio"]:checked+label::after {
  color: #fff;
}

.checkbox.checkbox-sm label::before {
  width: 30px;
  height: 30px;
  top: -13px;
}

.checkbox.checkbox-sm label::after {
  width: 30px;
  height: 30px;
  padding-left: 4px;
  font-size: 20px;
  left: 1px;
  top: -13px;
}

.checkbox.checkbox-sm label {
  padding-left: 18px;
  top: 13px;
}

.checkbox.checkbox-md label::before {
  width: 34px;
  height: 34px;
  top: -17px;
}

.checkbox.checkbox-md label::after {
  width: 34px;
  height: 34px;
  padding-left: 4px;
  font-size: 24px;
  left: 1px;
  top: -18px;
}

.checkbox.checkbox-md label {
  padding-left: 22px;
  top: 17px;
}

.checkbox.checkbox-lg label::before {
  width: 46px;
  height: 46px;
  top: -28px;
}

.checkbox.checkbox-lg label::after {
  width: 46px;
  height: 46px;
  padding-left: 4px;
  font-size: 36px;
  left: 1px;
  top: -31px;
}

.checkbox.checkbox-lg label {
  padding-left: 34px;
  top: 32px;
}

.label-radio {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  @include sf(100%, 600, $gris);
  line-height: normal;
  margin: 0 8px 0 0;
}

.radio {
  label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
    }

    &::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    }
  }
}

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.radio input[type="radio"]:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"]+label::after {
  background-color: #337ab7;
}

.radio-primary input[type="radio"]:checked+label::before {
  border-color: #337ab7;
}

.radio-primary input[type="radio"]:checked+label::after {
  background-color: #337ab7;
}

.radio-danger input[type="radio"]+label::after {
  background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::before {
  border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"]+label::after {
  background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::before {
  border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"]+label::after {
  background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::before {
  border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"]+label::after {
  background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::before {
  border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::after {
  background-color: #5cb85c;
}

input[type="checkbox"].styled:checked+label:after,
input[type="radio"].styled:checked+label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

input[type="checkbox"] .styled:checked+label::before,
input[type="radio"] .styled:checked+label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked+label::after,
input[type="radio"] .styled:checked+label::after {
  color: #fff;
}

.radio.radio-sm label::before {
  width: 30px;
  height: 30px;
  top: -13px;
}

.radio.radio-sm label::after {
  width: 22px;
  height: 22px;
  padding-left: 4px;
  font-size: 20px;
  left: 4px;
  top: -9px;
}

.radio.radio-sm label {
  padding-left: 18px;
  top: 13px;
}

.radio.radio-md label::before {
  width: 34px;
  height: 34px;
  top: -17px;
}

.radio.radio-md label::after {
  width: 26px;
  height: 26px;
  padding-left: 4px;
  font-size: 24px;
  left: 4px;
  top: -13px;
}

.radio.radio-md label {
  padding-left: 22px;
  top: 17px;
}

.radio.radio-lg label::before {
  width: 46px;
  height: 46px;
  top: -28px;
}

.radio.radio-lg label::after {
  width: 36px;
  height: 36px;
  padding-left: 4px;
  font-size: 36px;
  left: 5px;
  top: -23px;
}

.radio.radio-lg label {
  padding-left: 34px;
  top: 32px;
}