/* 
* Font MyriadPro 
*----------------------------------------------------------------*/
/*@font-face {
	font-family: 'Myriad Pro';
	src: url('../css/face_font/subset-MyriadPro-Bold.eot');
	src: url('../css/face_font/subset-MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../css/face_font/subset-MyriadPro-Bold.woff') format('woff'),
		url('../css/face_font/subset-MyriadPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../css/face_font/subset-MyriadPro-Light.eot');
	src: url('../css/face_font/subset-MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../css/face_font/subset-MyriadPro-Light.woff') format('woff'),
		url('../css/face_font/subset-MyriadPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../css/face_font/subset-MyriadPro-Regular.eot');
	src: url('../css/face_font/subset-MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../css/face_font/subset-MyriadPro-Regular.woff') format('woff'),
		url('../css/face_font/subset-MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/

/* 

src: url('/a../css/fonts/PPNeueMontreal-Italic.eot');
  src: url('../css/fonts/PPNeueMontreal-Italic.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/PPNeueMontreal-Italic.woff2') format('woff2'),
    url('../css/fonts/PPNeueMontreal-Italic.woff') format('woff'),
    url('../css/fonts/PPNeueMontreal-Italic.ttf') format('truetype'),
    url('../css/fonts/PPNeueMontreal-Italic.svg#PPNeueMontreal-Italic') format('svg');

*/

@font-face {
  font-family: 'PP Neue Montreal';
  //src: url('../css/fonts/PPNeueMontreal-Italic.eot');
  src: url('../css/fonts/PPNeueMontreal-Italic.eot');
  src: url('../css/fonts/PPNeueMontreal-Italic.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/PPNeueMontreal-Italic.woff2') format('woff2'),
    url('../css/fonts/PPNeueMontreal-Italic.woff') format('woff'),
    url('../css/fonts/PPNeueMontreal-Italic.ttf') format('truetype'),
    url('../css/fonts/PPNeueMontreal-Italic.svg#PPNeueMontreal-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../css/fonts/PPNeueMontreal-Bold.eot');
  src: url('../css/fonts/PPNeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
    url('../css/fonts/PPNeueMontreal-Bold.woff') format('woff'),
    url('../css/fonts/PPNeueMontreal-Bold.ttf') format('truetype'),
    url('../css/fonts/PPNeueMontreal-Bold.svg#PPNeueMontreal-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal Book';
  src: url('../css/fonts/PPNeueMontreal-Book.eot');
  src: url('../css/fonts/PPNeueMontreal-Book.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/PPNeueMontreal-Book.woff2') format('woff2'),
    url('../css/fonts/PPNeueMontreal-Book.woff') format('woff'),
    url('../css/fonts/PPNeueMontreal-Book.ttf') format('truetype'),
    url('../css/fonts/PPNeueMontreal-Book.svg#PPNeueMontreal-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../css/fonts/PPNeueMontreal-Medium.eot');
  src: url('../css/fonts/PPNeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
    url('../css/fonts/PPNeueMontreal-Medium.woff') format('woff'),
    url('../css/fonts/PPNeueMontreal-Medium.ttf') format('truetype'),
    url('../css/fonts/PPNeueMontreal-Medium.svg#PPNeueMontreal-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../css/fonts/PPNeueMontreal-Thin.eot');
  src: url('../css/fonts/PPNeueMontreal-Thin.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
    url('../css/fonts/PPNeueMontreal-Thin.woff') format('woff'),
    url('../css/fonts/PPNeueMontreal-Thin.ttf') format('truetype'),
    url('../css/fonts/PPNeueMontreal-Thin.svg#PPNeueMontreal-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('../css/fonts/PPNeueMontreal-SemiBolditalic.eot');
  src: url('../css/fonts/PPNeueMontreal-SemiBolditalic.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/PPNeueMontreal-SemiBolditalic.woff2') format('woff2'),
    url('../css/fonts/PPNeueMontreal-SemiBolditalic.woff') format('woff'),
    url('../css/fonts/PPNeueMontreal-SemiBolditalic.ttf') format('truetype'),
    url('../css/fonts/PPNeueMontreal-SemiBolditalic.svg#PPNeueMontreal-SemiBolditalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@mixin montreal($fsize: 1rem, $fwight:normal, $fcolor:$eerie-black) {
  font-family: 'PP Neue Montreal', Roboto, Arial, Helvetica, sans-serif;
  font-size: $fsize;
  font-weight: $fwight;
  color: $fcolor;
}

@mixin montreal-book($fsize: 1rem, $fwight:normal, $fcolor:$eerie-black) {
  font-family: 'PP Neue Montreal', Roboto, Arial, Helvetica, sans-serif;
  font-size: $fsize;
  font-weight: $fwight;
  color: $fcolor;
}