/*
 * @css Generales
 **/

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  @include border-box;

}

/*
 * Generales
 **/

body {
  @include inter();
  margin: 0;
  padding: 0;
} 

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* Links
--------------------------------------------- */
a {
  color: #106eea;
  text-decoration: underline;
  transition: all 0.2s ease;
}

a:visited {
  color: #800080;
}

a:hover,
a:focus,
a:active {
  color: #191970;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

#main {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#main-content {
  background-color: #e3e3e3;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  position: relative;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: $eerie-black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: $palatinate-blue;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}