/* 
 * @mixin btns
 **/


/* Reset btn bootstrap */
.btn,
.btn:link,
.btn:focus,
.btn:visited {
  outline: none;
  border: none;
}
/* 
* @btns para javascript
**/
/* #btn-up {
  color: #fff;
  margin: 0;
  padding: 20px 15px;
  position: absolute;
  bottom: 0;
  right: 2%;
  text-decoration: none;
  background: #333;
  z-index: 90;

  &:link,
  &:focus,
  &:visited,
  &:hover {
    text-decoration: none;
  }

  &:hover {
    background: #222;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

.icon-arrow_up {
  font-size: 1.8em;
  color: #fff;
} */

/** 
 * @ btn scroll up
*/

/* #scroll-top {
  color: #fff;
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: rgba(51, 51, 51, 1);
  padding: 30px;
  z-index: 500;
  font-size: 20px;

  @media (max-width: 640px) {
    bottom: 0 !important;
    left: 0 !important;
    right: initial !important;
    width: 100% !important;
    background-color: #28a745;
    text-align: center;
    padding: 15px;
    font-size: 25px;

    &:hover {
      background-color: #23953d;
      @include transicion();
    }

    &::after {
      content: 'VOLVER';
      @include roboto(12px, 400, #fff);
      margin: 0 0 0 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &:hover {
    text-decoration: none;
    border-color: transparent;
  }

} */

/*
 * @variables
 **/
$custom-buttom: 'verde';
$font-buttons: 'Roboto',
sans-serif;
$font-size: 1rem;
$color-font-dark: #111111;
$color-font-white: #ffffff;
$font-weight: 400;
$primary-color: #007bff;
$secondary-color: #6c757d;

@mixin size-btn($py:14px, $px:60px) {
  padding: $py $px;
  line-height: normal;
}

@mixin transicionBtn() {
  transition: all .2s ease-in-out;
}



$apm-1-hex: #00498A;
$red: #d51000;
$cyan: #d51000;
$success: #28a745; // $success-dark: #398439;
$danger: #dc3545; // $danger-darck: #ac2925;
$info: #17a2b8; // $info-darck: #46b8da;
$warning: #ffc107; // $warning-dark: #985f0d;

$hover-success: #28a745; // $success-dark: #398439;#1e7e34
$hover-danger: #dc3545; // $danger-darck: #ac2925;
$hover-info: #17a2b8; // $info-darck: #46b8da;
$hover-warning: #ffc107; // $warning-dark: #985f0d;

$border-hover-success: #28a745; // $success-dark: #398439;
$border-hover-danger: #dc3545; // $danger-darck: #ac2925;
$border-hover-info: #17a2b8; // $info-darck: #46b8da;
$border-hover-warning: #ffc107; // $warning-dark: #985f0d;



/* 
 * @ btns links
*/
.btn-link {
  font-family: $font-buttons;
  font-size: $font-size;
  color: $color-font-dark;
  font-weight: $font-weight;

  &:hover {
    color: $primary-color;
    text-decoration: none;
  }

  .link-icon {
    font-size: .6rem;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 0 0;
  }

  @media (max-width:640px) {
    padding: 5% 0;
    display: inline-block;
  }
}

/* 
 * @ btns border color 
*/
.btn-border {
  border-radius: 0;
  box-sizing: border-box;
  border-width: 2px;
  background-color: transparent;
  width: 100%;
  font-family: $font-buttons;
  font-size: $font-size;
  color: $color-font-white;
  font-weight: $font-weight;
  @include size-btn();
  @include transicionBtn();

  /* 
	* @ btns border white 
	*/
  &.white {
    border-color: #fff;
    color: #fff;

    &:hover,
    &:focus {
      color: $primary-color;
      border-color: $primary-color;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .3);
    }

    &[disabled]:hover,
    &[disabled]:focus {
      color: #fff;
      background-color: transparent;
      border-color: #fff;
    }
  }


  /* 
	* @ btns border success
	*/
  &.success {
    border-color: $success;
    color: $success;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $success;
      color: #fff;
      border-color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(37, 152, 37, 0.5);
    }

    &[disabled]:hover,
    &[disabled]:focus {
      color: $success;
      background-color: transparent;
      border-color: $success;
    }
  }

  /* 
	* @ btns border danger
	*/
  &.danger {
    border-color: $danger;
    color: $danger;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $danger;
      color: #fff;
      border-color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(175, 21, 16, .5);
    }

    &[disabled]:hover,
    &[disabled]:focus {
      color: $danger;
      background-color: transparent;
      border-color: $danger;
    }
  }

  /* 
	* @ btns border info
	*/
  &.info {
    border-color: $info;
    color: $info;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $info;
      color: #fff;
      border-color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(48, 179, 218, 0.5);
    }

    &[disabled]:hover,
    &[disabled]:focus {
      color: $info;
      background-color: transparent;
      border-color: $info;
    }
  }

  /* 
	* @ btns border warning
	*/

  &.warning {
    border-color: $warning;
    color: $warning;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $warning;
      color: #fff;
      border-color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(202, 153, 5, 0.5);
    }

    &[disabled]:hover,
    &[disabled]:focus {
      color: $warning;
      background-color: transparent;
      border-color: $warning;
    }
  }

  /* 
	* @ btns border custom
    */
  &.#{$custom-buttom} {
    /* border-color: $secondary-color;
        color: $secondary-color; */

    &:hover,
    &:focus {
      /*  text-decoration: none;
            background-color: $secondary-color;
            color: $color-font-white;
            border-color: $secondary-color; */
    }

    &:focus {
      /* box-shadow: 0 0 0 0.2rem $secondary-color; */
    }

    &[disabled]:hover,
    &[disabled]:focus {
      /*  color: $secondary-color;
            background-color: transparent;
            border-color: $secondary-color; */
    }
  }
}

//End btns border color

/* 
 * @ btns full color 
*/
.btn-full {
  border-radius: 0;
  box-sizing: border-box;
  border-width: 1px;
  background-color: transparent;
  width: 100%;
  font-family: $font-buttons;
  font-size: $font-size;
  color: $color-font-white;
  font-weight: $font-weight;
  @include size-btn();
  @include transicionBtn();
  padding: .5rem;

  @media (max-width: 640px) {
    width: 100%;
  }

  &.invested {
    border-color: #fff;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #003A6E;
      color: #fff;
      border-color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .3);
    }

    &[disabled]:hover,
    &[disabled]:focus {
      color: #fff;
      background-color: transparent;
      border-color: #fff;
    }
  }

  /* 
    * @ btns full success
    **/
  &.success {
    border-color: $success;
    color: #fff;
    background-color: $success;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $success;
      color: #fff;
      border-color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem $success;
    }

    &[disabled]:hover,
    &[disabled]:focus {
      color: $success;
      background-color: transparent;
      border-color: $success;
    }
  }

  /* 
    * @ btns full danger
    **/
  &.danger {
    border-color: $danger;
    color: #fff;
    background-color: $danger;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #c82333;
      color: #fff;
      border-color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(175, 21, 16, .5);
    }

    &[disabled]:hover,
    &[disabled]:focus {
      color: $danger;
      background-color: transparent;
      border-color: $danger;
    }
  }

  /* 
    * @ btns full info
    **/
  &.info {
    border-color: $info;
    color: #fff;
    background-color: $info;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #138496;
      color: #fff;
      border-color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(48, 179, 218, 0.5);
    }

    &[disabled]:hover,
    &[disabled]:focus {
      color: $info;
      background-color: transparent;
      border-color: $info;
    }
  }

  /* 
    * @ btns full warning
    **/
  &.warning {
    border-color: $warning;
    color: #212529;
    background-color: $warning;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #e0a800;
      color: #212529;
      border-color: #fff;
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(202, 153, 5, 0.5);
    }

    &[disabled]:hover,
    &[disabled]:focus {
      color: $warning;
      background-color: transparent;
      border-color: $warning;
    }
  }

  /* 
    * @ btns custon full
    **/
  &.#{$custom-buttom} {
    /*   border-color: $secondary-color;
        color: $color-font-white;
        background-color: $secondary-color;
        text-decoration: none; */

    &:hover,
    &:focus {
      /*  text-decoration: none;
            background-color: $secondary-color-dark;
            color: $color-font-white;
            border-color: rgba(255, 255, 255, .3); */
    }

    &:focus {
      /*  box-shadow: 0 0 0 0.2rem $secondary-color; */
    }

    &[disabled]:hover,
    &[disabled]:focus {
      /*   color: $color-font-white;
            background-color: $secondary-color;
            border-color: $secondary-color; */
    }
  }

}

//End btns full color



.center-btn {
  display: table;
  width: 100%;
  min-height: 85px;

  @media(max-width: 640px) {
    display: block;
    height: auto;
  }

  .btn-verticale {
    display: table-cell;
    vertical-align: middle;
    height: 100%;

    @media(max-width: 640px) {
      display: inline-block;
      height: auto;
    }
  }
}



#target-form,
#target-planes {
  &.btn-cotizar {
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    background-color: $success;
    display: none;
    vertical-align: middle;
    width: 260px;
    @include roboto(1em, 500, #fff);
    padding: 7px 18px;
    color: #fff;
    margin-left: 15px;
    line-height: initial;

    &:hover {
      text-decoration: none;
      background-color: #1e7e34;
      color: #fff;
      border-color: #1c7430;
      @include transicion;
    }

    &:active {
      position: relative;
      top: 1px;
    }

    &:focus,
    &:active,
    &:visited {
      outline-color: transparent;
    }

    &.show {
      display: inline-block;
      @include transicion;
    }

    &.hidden {
      display: none;
    }

    @media (max-width: 640px) {
      margin: 5px auto;
      float: initial;
    }
  }
}


/** 
 * @ btn scroll up
*/

/* #scroll-top {
  color: #fff;
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: rgba(51, 51, 51, 1);
  padding: 30px;
  z-index: 500;
  font-size: 20px;

  @media (max-width: 640px) {
    bottom: 0 !important;
    left: 0 !important;
    right: initial !important;
    width: 100% !important;
    background-color: #28a745;
    text-align: center;
    padding: 15px;
    font-size: 25px;

    &:hover {
      background-color: #23953d;
      @include transicion();
    }

    &::after {
      content: 'VOLVER';
      @include roboto(12px, 400, #fff);
      margin: 0 0 0 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &:hover {
    text-decoration: none;
    border-color: transparent;
  }

} */

/* css btn up
*-------------------------------------------------------*/
/* #btn-up {
  color: #fff;
  margin: 0;
  padding: 20px 15px;
  position: absolute;
  bottom: 0;
  right: 2%;
  text-decoration: none;
  background: #333;
  z-index: 90;

  &:link,
  &:focus,
  &:visited,
  &:hover {
    text-decoration: none;
  }

  &:hover {
    background: #222;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

.icon-arrow_up {
  font-size: 1.8em;
  color: #fff;
}

.hidden-btn {
  display: none !important;
}

.show-btn {
  display: inline-block !important;
}

#scrolltop {
  color: #fff;
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: #36414e;
  padding: 30px;
  z-index: 500;
  font-size: 20px;
  text-decoration: none;

  @media (max-width: 640px) {
    bottom: 0 !important;
    left: 0 !important;
    right: initial !important;
    width: 100% !important;
    background-color: #28a745;
    text-align: center;
    padding: 15px;
    font-size: 25px;

    &:hover {
      background-color: #23953d;
      @include transicion();
    }

    &::after {
      content: 'VOLVER';
      @include roboto(.75rem, 400, #fff);
      margin: 0 0 0 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &:hover {
    text-decoration: none;
    border-color: transparent;
  }

} */