/* 
* Trasiciones
**/

@mixin transicion($timing:.2s, $effect:ease-in-out) {  
	/*ej. transition: all .2s ease-in-out;*/
    -webkit-transition: all $timing $effect;
    -moz-transition: all $timing $effect;
    -ms-transition: all $timing $effect;
    -o-transition: all $timing $effect;
    transition: all $timing $effect;
}

/* 
* Efecto zoom
**/
@mixin zoom ($value){
	/*ej. transform: scale(1.06); */
    -webkit-transform: scale($value);
	-ms-transform: scale($value);
	-o-transform: scale($value);
	transform: scale($value);
}

/* 
* Efecto sombra
**/
@mixin texto-sombra { text-shadow: 0px 4px 3px rgba(0,0,0,0.4),0px 8px 13px rgba(0,0,0,0.1),0px 18px 23px rgba(0,0,0,0.1);}
@mixin shadow-bottom {-webkit-box-shadow: 0px 10px 6px -6px rgba(0,0,0,.3);-moz-box-shadow: 0px 10px 6px -6px rgba(0,0,0,.3);    -ms-box-shadow: 0px 10px 6px -6px rgba(0,0,0,.3);-o-box-shadow: 0px 10px 6px -6px rgba(0,0,0,.3);box-shadow: 0px 10px 6px -6px rgba(0,0,0,.3);}
.shadow-l-r {position:relative;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  &:before, &:after {
      content:"";
      position:absolute;
      z-index:-1;
      -webkit-box-shadow:0 0 20px rgba(0,0,0,.6);
      -moz-box-shadow:0 0 20px rgba(0,0,0,.6);
      box-shadow:0 0 20px rgba(0,0,0,.6);
      top:10px;
      bottom:10px;
      left:0;
      right:0;
      -moz-border-radius:100px / 10px;
      border-radius:100px / 10px;
      }
  &:after {
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
     -moz-transform:skew(8deg) rotate(3deg);
      -ms-transform:skew(8deg) rotate(3deg);
       -o-transform:skew(8deg) rotate(3deg);
          transform:skew(8deg) rotate(3deg);
  }
}