html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

#main-sesion {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url(../images/bg-acceso-gral.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative; 

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  @media (max-width: 640px) {
    height: auto;
  }

  .access-login {
    margin: 8rem 0 0 0;

    .title-header {
      @include raleway(3.6rem, 500, $white);
      letter-spacing: -2px;
      display: inline-block;
      margin: 0 0 .5rem 0;

      @media(max-width: 640px) {
        line-height: 100%;
      }
    }

    .card {
      &.card-custom {
        width: 100%;
        height: 230px;
        border: 2px solid #1c1e1cff;
        margin: 0 0 1rem 0;
      }

      .card-body {
        .card-title {
          &.card-title-custom {
            @include raleway(1.8rem, 600, $eerie-black);
            letter-spacing: -1px;
						margin: 0 0 2rem 0;
          }
        }

        .sub-title {
          @include raleway(1rem, 600, $eerie-black);
          letter-spacing: -1px;
					margin: 0;
        }
      }
    }



    .form-signin {
      max-width: 380px;
      padding: 1rem;
      border-radius: 8px;

      h1 {
        @include raleway(2rem, 500, );
        letter-spacing: -2px;
        line-height: -1rem;
      }

      .form-floating {
        &:focus-within {
          z-index: 2;
        }

        &.custom-form-floating {
          .form-control {
            &.custom-form-control {
              margin: 0;
              background-color: #fff;
            }
          }

          .custom-label {}
        }
      }

      input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

    }
  }

  .icon-plus50x50 {
    &.icono-sesion {
      position: absolute;
      bottom: 5%;
      left: 5%;
      color: $white;
      font-size: 8rem;

      @media(max-width: 640px) {
        display: none;
      }
    }
  }
}