$icomoon-font-family: "numerus" !default;
$icomoon-font-path: "fonts" !default;

$icon-linkedin-fill: unquote('"\\e900"');
$icon-twitter-line: unquote('"\\e901"');
$icon-twitter-x-line: unquote('"\\e902"');
$icon-youtube-fill: unquote('"\\e903"');
$icon-youtube-line: unquote('"\\e904"');
$icon-twitter-fill: unquote('"\\e905"');
$icon-facebook-fill: unquote('"\\e906"');
$icon-instagram-line: unquote('"\\e907"');
$icon-plus-48: unquote('"\\e908"');
$icon-plus-24: unquote('"\\e909"');
$icon-logo-elev50x50: unquote('"\\e90a"');
$icon-numerus-inclined50x50: unquote('"\\e90b"');
$icon-plus50x50: unquote('"\\e90c"');
$icon-menu-hamburguer-strong: unquote('"\\e90d"');
$icon-menu-hamburguer-circle-path1: unquote('"\\e90e"');
$icon-menu-hamburguer-circle-path2: unquote('"\\e90f"');
$icon-menu-hamburguer-circle-path3: unquote('"\\e910"');
$icon-menu-hamburguer-circle-path4: unquote('"\\e911"');
$icon-menu-hamburguer-thin: unquote('"\\e912"');
$icon-menu50x50: unquote('"\\e913"');
$icon-logo-numerus-consultoria: unquote('"\\e914"');
$icon-mail: unquote('"\\e800"');
$icon-isonumerus: unquote('"\\e801"');
$icon-cancel-circled: unquote('"\\e802"');
$icon-brand: unquote('"\\e803"');
$icon-cancel: unquote('"\\e804"');
$icon-chat: unquote('"\\e805"');
$icon-comment: unquote('"\\e806"');
$icon-bookmark: unquote('"\\e807"');
$icon-tags: unquote('"\\e808"');
$icon-tag: unquote('"\\e809"');
$icon-flag: unquote('"\\e80a"');
$icon-align-left: unquote('"\\e80b"');
$icon-align-center: unquote('"\\e80c"');
$icon-align-right: unquote('"\\e80d"');
$icon-align-justify: unquote('"\\e80e"');
$icon-list: unquote('"\\e80f"');
$icon-indent-left: unquote('"\\e810"');
$icon-indent-right: unquote('"\\e811"');
$icon-clock: unquote('"\\e812"');
$icon-cog: unquote('"\\e813"');
$icon-cog-alt: unquote('"\\e814"');
$icon-calendar: unquote('"\\e815"');
$icon-login: unquote('"\\e816"');
$icon-logout: unquote('"\\e817"');
$icon-attention: unquote('"\\e818"');
$icon-attention-circled: unquote('"\\e819"');
$icon-location: unquote('"\\e81a"');
$icon-trash-empty: unquote('"\\e81b"');
$icon-bell: unquote('"\\e81c"');
$icon-down-open: unquote('"\\e81d"');
$icon-left-open: unquote('"\\e81e"');
$icon-right-open: unquote('"\\e81f"');
$icon-up-open: unquote('"\\e820"');
$icon-cw: unquote('"\\e821"');
$icon-ccw: unquote('"\\e822"');
$icon-arrows-cw: unquote('"\\e823"');
$icon-down-big: unquote('"\\e824"');
$icon-left-big: unquote('"\\e825"');
$icon-up-big: unquote('"\\e826"');
$icon-right-big: unquote('"\\e827"');
$icon-flash: unquote('"\\e828"');
$icon-check: unquote('"\\e829"');
$icon-off: unquote('"\\e82a"');
$icon-asterisk: unquote('"\\e82b"');
$icon-plus-circled: unquote('"\\e82c"');
$icon-plus: unquote('"\\e82d"');
$icon-ok-circled2: unquote('"\\e82e"');
$icon-ok-circled: unquote('"\\e82f"');
$icon-minus-circled: unquote('"\\e830"');
$icon-minus: unquote('"\\e831"');
$icon-info-circled: unquote('"\\e832"');
$icon-home: unquote('"\\e833"');
$icon-user: unquote('"\\e834"');
$icon-users: unquote('"\\e835"');
$icon-calendar-2: unquote('"\\e836"');
$icon-calendar-3: unquote('"\\e837"');
$icon-calendar-circled: unquote('"\\e838"');
$icon-calendar-4: unquote('"\\e839"');
$icon-calendar-5: unquote('"\\e83a"');
$icon-calendar-outlilne: unquote('"\\e83b"');
$icon-calendar-6: unquote('"\\e83c"');
$icon-calendar-inv: unquote('"\\e83d"');
$icon-calendar-alt: unquote('"\\e83e"');
$icon-login-1: unquote('"\\e83f"');
$icon-logout-1: unquote('"\\e840"');
$icon-cog-1: unquote('"\\e841"');
$icon-down-open-big: unquote('"\\e842"');
$icon-left-open-big: unquote('"\\e843"');
$icon-right-open-big: unquote('"\\e844"');
$icon-up-open-big: unquote('"\\e845"');
$icon-up-open-mini: unquote('"\\e846"');
$icon-right-open-mini: unquote('"\\e847"');
$icon-left-open-mini: unquote('"\\e848"');
$icon-down-open-mini: unquote('"\\e849"');
$icon-up-open-1: unquote('"\\e84a"');
$icon-right-open-1: unquote('"\\e84b"');
$icon-left-open-1: unquote('"\\e84c"');
$icon-down-open-1: unquote('"\\e84d"');
$icon-menu-1: unquote('"\\e84e"');
$icon-article: unquote('"\\e84f"');
$icon-picture: unquote('"\\e850"');
$icon-videocam-1: unquote('"\\e851"');
$icon-cancel-1: unquote('"\\e852"');
$icon-reply: unquote('"\\e853"');
$icon-headphones: unquote('"\\e854"');
$icon-star: unquote('"\\e855"');
$icon-down-open-2: unquote('"\\e856"');
$icon-search: unquote('"\\e857"');
$icon-up-open-2: unquote('"\\e858"');
$icon-ok-circle: unquote('"\\e859"');
$icon-quote-left-1: unquote('"\\e85a"');
$icon-gab: unquote('"\\e85b"');
$icon-minds: unquote('"\\e85c"');
$icon-globe: unquote('"\\e85d"');
$icon-bitchute: unquote('"\\e85e"');
$icon-steemit: unquote('"\\e85f"');
$icon-quote-right-1: unquote('"\\e860"');
$icon-left-open-2: unquote('"\\e861"');
$icon-video: unquote('"\\e862"');
$icon-quote: unquote('"\\e863"');
$icon-ok: unquote('"\\e864"');
$icon-flash-1: unquote('"\\e865"');
$icon-discord: unquote('"\\e866"');
$icon-tfm-star: unquote('"\\e867"');
$icon-tfm-star-half: unquote('"\\e868"');
$icon-pin: unquote('"\\e869"');
$icon-tfm-menu-2: unquote('"\\e86a"');
$icon-tfm-menu-alt: unquote('"\\e86b"');
$icon-tfm-search: unquote('"\\e86c"');
$icon-right-open-2: unquote('"\\e86d"');
$icon-share: unquote('"\\e86e"');
$icon-comment-1: unquote('"\\e86f"');
$icon-tiktok: unquote('"\\e870"');
$icon-comment-alt2: unquote('"\\e871"');
$icon-clock-1: unquote('"\\e872"');
$icon-ruki-menu: unquote('"\\e873"');
$icon-comment-inv-alt2: unquote('"\\e874"');
$icon-ruki-right: unquote('"\\e875"');
$icon-ruki-left: unquote('"\\e876"');
$icon-picture-1: unquote('"\\e877"');
$icon-emo-happy: unquote('"\\e878"');
$icon-emo-wink: unquote('"\\e879"');
$icon-emo-wink2: unquote('"\\e87a"');
$icon-emo-unhappy: unquote('"\\e87b"');
$icon-clipboard-check: unquote('"\\e87d"');
$icon-cruce: unquote('"\\e87e"');
$icon-clipboard-check-fill: unquote('"\\e87f"');
$icon-customer-service-line: unquote('"\\e882"');
$icon-customer-service-fill: unquote('"\\e883"');
$icon-hands: unquote('"\\e888"');
$icon-headset: unquote('"\\e889"');
$icon-service-line: unquote('"\\e88e"');
$icon-service-fill: unquote('"\\e88f"');
$icon-ui-checks-grid: unquote('"\\e890"');
$icon-vias: unquote('"\\e891"');
$icon-heart-empty: unquote('"\\e892"');
$icon-star-1: unquote('"\\e893"');
$icon-heart: unquote('"\\e894"');
$icon-star-empty: unquote('"\\e895"');
$icon-chat-1: unquote('"\\e896"');
$icon-comment-2: unquote('"\\e897"');
$icon-attention-1: unquote('"\\e898"');
$icon-flow-line: unquote('"\\e899"');
$icon-flow-parallel: unquote('"\\e89a"');
$icon-flow-tree: unquote('"\\e89b"');
$icon-rocket-1: unquote('"\\e89c"');
$icon-flow-branch: unquote('"\\e89d"');
$icon-flow-cascade: unquote('"\\e89e"');
$icon-puzzle: unquote('"\\e89f"');
$icon-puzzle-outline: unquote('"\\e8a0"');
$icon-quote-left-2: unquote('"\\e8a1"');
$icon-quote-right-2: unquote('"\\e8a2"');
$icon-menu-2: unquote('"\\f008"');
$icon-link-ext: unquote('"\\f08e"');
$icon-bookmark-empty: unquote('"\\f097"');
$icon-twitter: unquote('"\\f099"');
$icon-facebook: unquote('"\\f09a"');
$icon-rss: unquote('"\\f09e"');
$icon-left-circled: unquote('"\\f0a8"');
$icon-right-circled: unquote('"\\f0a9"');
$icon-up-circled: unquote('"\\f0aa"');
$icon-down-circled: unquote('"\\f0ab"');
$icon-beaker: unquote('"\\f0c3"');
$icon-menu: unquote('"\\f0c9"');
$icon-menu-3: unquote('"\\f0ca"');
$icon-list-bullet: unquote('"\\f0cb"');
$icon-table: unquote('"\\f0ce"');
$icon-magic: unquote('"\\f0d0"');
$icon-gplus: unquote('"\\f0d5"');
$icon-mail-alt: unquote('"\\f0e0"');
$icon-mail-alt-1: unquote('"\\f0e1"');
$icon-linkedin: unquote('"\\f0e2"');
$icon-comment-empty: unquote('"\\f0e5"');
$icon-chat-empty: unquote('"\\f0e6"');
$icon-sitemap: unquote('"\\f0e8"');
$icon-bell-alt: unquote('"\\f0f3"');
$icon-coffee: unquote('"\\f0f4"');
$icon-plus-squared: unquote('"\\f0fe"');
$icon-angle-double-left: unquote('"\\f100"');
$icon-angle-double-right: unquote('"\\f101"');
$icon-angle-double-up: unquote('"\\f102"');
$icon-angle-double-down: unquote('"\\f103"');
$icon-angle-left: unquote('"\\f104"');
$icon-angle-right: unquote('"\\f105"');
$icon-angle-up: unquote('"\\f106"');
$icon-angle-down: unquote('"\\f107"');
$icon-desktop: unquote('"\\f108"');
$icon-laptop: unquote('"\\f109"');
$icon-tablet: unquote('"\\f10a"');
$icon-mobile: unquote('"\\f10b"');
$icon-quote-left: unquote('"\\f10d"');
$icon-quote-right: unquote('"\\f10e"');
$icon-smile: unquote('"\\f118"');
$icon-frown: unquote('"\\f119"');
$icon-meh: unquote('"\\f11a"');
$icon-direction: unquote('"\\f124"');
$icon-info: unquote('"\\f129"');
$icon-calendar-empty: unquote('"\\f133"');
$icon-rocket: unquote('"\\f135"');
$icon-angle-circled-left: unquote('"\\f137"');
$icon-angle-circled-right: unquote('"\\f138"');
$icon-angle-circled-up: unquote('"\\f139"');
$icon-angle-circled-down: unquote('"\\f13a"');
$icon-ellipsis: unquote('"\\f141"');
$icon-ellipsis-vert: unquote('"\\f142"');
$icon-minus-squared: unquote('"\\f146"');
$icon-minus-squared-alt: unquote('"\\f147"');
$icon-ok-squared: unquote('"\\f14a"');
$icon-youtube: unquote('"\\f167"');
$icon-instagram: unquote('"\\f16d"');
$icon-flickr: unquote('"\\f16e"');
$icon-tumblr: unquote('"\\f173"');
$icon-down-1: unquote('"\\f175"');
$icon-up-1: unquote('"\\f176"');
$icon-left-1: unquote('"\\f177"');
$icon-right-1: unquote('"\\f178"');
$icon-dribbble: unquote('"\\f17d"');
$icon-bug: unquote('"\\f188"');
$icon-vkontakte: unquote('"\\f189"');
$icon-plus-squared-alt: unquote('"\\f196"');
$icon-behance: unquote('"\\f1b4"');
$icon-steam: unquote('"\\f1b6"');
$icon-spotify: unquote('"\\f1bc"');
$icon-soundcloud: unquote('"\\f1be"');
$icon-git: unquote('"\\f1d3"');
$icon-paper-plane: unquote('"\\f1d8"');
$icon-paper-plane-1: unquote('"\\f1d9"');
$icon-paper-plane-empty: unquote('"\\f1da"');
$icon-paper-plane-empty-1: unquote('"\\f1db"');
$icon-sliders: unquote('"\\f1de"');
$icon-binoculars: unquote('"\\f1e5"');
$icon-plug: unquote('"\\f1e6"');
$icon-twitch: unquote('"\\f1e8"');
$icon-trash: unquote('"\\f1f8"');
$icon-toggle-off: unquote('"\\f204"');
$icon-toggle-on: unquote('"\\f205"');
$icon-pinterest: unquote('"\\f231"');
$icon-whatsapp: unquote('"\\f232"');
$icon-server: unquote('"\\f233"');
$icon-user-plus: unquote('"\\f234"');
$icon-user-times: unquote('"\\f235"');
$icon-medium: unquote('"\\f23a"');
$icon-odnoklassniki: unquote('"\\f263"');
$icon-get-pocket: unquote('"\\f265"');
$icon-vimeo: unquote('"\\f27d"');
$icon-reddit-alien: unquote('"\\f281"');
$icon-mixcloud: unquote('"\\f289"');
$icon-handshake-o: unquote('"\\f2b5"');
$icon-user-circle-o: unquote('"\\f2be"');
$icon-telegram: unquote('"\\f2c6"');
$icon-calendar-1: unquote('"\\f4c5"');
$icon-newspaper: unquote('"\\f4f0"');

